body {
    background-color: #d7d7d7;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.weather-container {
    margin-top: 20px;
}

.weather-display {
    margin-top: 20px;
}

#weatherIcon {
    width: 131px;
    height: 66px;
}

button {
    padding: 10px 20px;
    background-color: #0058ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0041cc;
}